.quote-button {
  width: 90%;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  font-size: 1.1rem;
  line-height: 1.8em;
  text-align: center;
  color: white;
  margin: 20px auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.quote-button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
}
